.container() {
  --apply: container;
}

.flex() {
  --apply: flex;
}
.flex-column() {
  --apply: flex flex-col;
}
.flex-c() {
  --apply: flex-c;
}
.flex-column-c() {
  --apply: flex-c flex-col;
}
.align-c() {
  --apply: items-c;
}
.align-column-c() {
  --apply: items-c flex-col;
}

.justify-c() {
  --apply: justify-c;
}
.justify-column-c() {
  --apply: justify-c flex-c;
}

.ellipsis(@line:1) when(@line>1) {
  display: -webkit-box;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis(@line:1) when(default()) {
  --apply: ellipsis;
}

.scroll(@width:6px,@color:#333) {
  &::-webkit-scrollbar {
    width: @width;
    height: @width;
    display: block;
    .phone({
      &{display:none;width:0;}
    });
  } /* px-to-viewport-ignore */
  /* Handle样式 */
  &::-webkit-scrollbar-thumb {
    background-color: @color;
  } /* px-to-viewport-ignore */
  /*hover到滚动条上*/
  &::-webkit-scrollbar-thumb:vertical:hover {
    background-color: darken(@color, 5%);
  }
  /*滚动条按下*/
  &::-webkit-scrollbar-thumb:vertical:active {
    background-color: darken(@color, 10%);
  }
}
.phone(@content,@width:@phone-width) {
  @media screen and (max-width: @width) {
    @content();
  }
}

.primary-btn(@width:170px,@height:60px,@bgColor:@primary-color,@color:#fff) {
  display: block;
  width: @width;
  height: @height;
  text-align: center;
  line-height: @height;
  font-size: (@height / 3);
  color: @color;
  background: @bgColor;
  border-radius: (@height / 8);
  &:hover {
    background: lighten(@bgColor, 5%);
  }
  &:active {
    background: darken(@bgColor, 5%);
  }
}
